
@{
    ViewBag.Title = "Main";
}
<!----<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!----
<link href="~/Content/main.css" rel="stylesheet" type="text/css" />

<div id="home_quicklinks">
    <a class="quicklink link1" href="#">
        <span class="ql_caption">
            <span class="outer">
                <span class="inner">
                    <h2>Member</h2>
                </span>
            </span>
        </span>
        <span class="ql_top"></span>
        <span class="ql_bottom"></span>
    </a>
    <a class="quicklink link1" href="#">
        <span class="ql_caption">
            <span class="outer">
                <span class="inner">
                    <h2>Event</h2>
                </span>
            </span>
        </span>
        <span class="ql_top"></span>
        <span class="ql_bottom"></span>
    </a>
    <a class="quicklink link1" href="#">
        <span class="ql_caption">
            <span class="outer">
                <span class="inner">
                    <h2>Gallery </h2>
                </span>
            </span>
        </span>
        <span class="ql_top"></span>
        <span class="ql_bottom"></span>
    </a>
    <a class="quicklink link1" href="#">
        <span class="ql_caption">
            <span class="outer">
                <span class="inner">
                    <h2>Member</h2>
                </span>
            </span>
        </span>
        <span class="ql_top"></span>
        <span class="ql_bottom"></span>
    </a>
    <a class="quicklink link1" href="#">
        <span class="ql_caption">
            <span class="outer">
                <span class="inner">
                    <h2>Event</h2>
                </span>
            </span>
        </span>
        <span class="ql_top"></span>
        <span class="ql_bottom"></span>
    </a>
    <a class="quicklink link1" href="#">
        <span class="ql_caption">
            <span class="outer">
                <span class="inner">
                    <h2>Gallery </h2>
                </span>
            </span>
        </span>
        <span class="ql_top"></span>
        <span class="ql_bottom"></span>
    </a>
    <!----<div class="clear"></div>
    </div>
    <div class="hexagon">
        <div class="hexTop"></div>
        <div class="hexBottom"></div>
    </div>--->
<!--
<link href="~/Content/main.css" rel="stylesheet" type="text/css" />
<a href="#" class="myButton">green</a>   -->

<button type="button" >
    @Html.ActionLink("Supply Management", "Index", "SupplierDetails", new { @class = "mybutton" })
</button>